@font-face {
	font-family: 'Binggrae-Bold';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Binggrae-Bold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'MapoFlowerIsland';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoFlowerIslandA.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

.bk-tag {
	cursor: pointer;
	font-family: "KyoboHand";
	position: fixed;
	left: 520px;
	width: 110px;
	text-align: center;
	font-size: 20px;
	color: rgb(87, 78, 78) !important;
	padding: 10px 20px 10px 20px;
	box-shadow: 1px 1px 3px rgba(102, 102, 102, 0.534);
}

.bk-tag:hover {
	filter: brightness(90%);
}

.bt1 {
	background-color: #fbd6c6;
}

.bt2 {
	top: 100px;
	background-color: #cde4db;
}

.bk-list {
	list-style: none;
	position: relative;
	text-align: center;
}

.bk-list li {
	position: relative;
	display: inline-block;
	width: 550px;
	z-index: 1;
	margin: 50px 50px 40px -50px;
	-webkit-perspective: 1800px;
	perspective: 1800px;
}

.bk-list li .bk-book {
	position: absolute;
	/* width: 100%; */
	/* height: 400px; */
	height: 650px;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transition: -webkit-transform .5s;
	transition: transform .5s;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
}

.bk-list li .bk-book.bk-bookdefault:hover {
	-webkit-transform: rotate3d(0, 1, 0, 35deg);
	transform: rotate3d(0, 1, 0, 35deg);
}

.bk-list li .bk-book>div,
.bk-list li .bk-front>div {
	display: block;
	position: absolute;
}

.bk-list li .bk-front {
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform-origin: 0% 50%;
	transform-origin: 0% 50%;
	-webkit-transition: -webkit-transform .5s;
	transition: transform .5s;
	-webkit-transform: translate3d(0, 0, 20px);
	transform: translate3d(0, 0, 20px);
	z-index: 10;


}

.bk-list li .bk-front>div {
	z-index: 1;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.bk-list li .bk-page {
	-webkit-transform: translate3d(0, 0, 19px);
	transform: translate3d(0, 0, 19px);
	display: none;
	/* width: 295px;
	height: 390px; */
	width: 535px;
	height: 625px;

	top: 5px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	z-index: 9;
}

.bk-list li .bk-front,
.bk-list li .bk-back,
.bk-list li .bk-front>div {
	/* width: 300px;
	height: 400px; */
	width: 550px;
	height: 650px;
}

.bk-list li .bk-left {
	width: 40px;
	left: -20px;
}

.bk-list li .bk-top,
.bk-list li .bk-bottom {
	width: 550px;
	height: 40px;
	top: -15px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.bk-list li .bk-back {
	-webkit-transform: rotate3d(0, 1, 0, -180deg) translate3d(0, 0, 20px);
	transform: rotate3d(0, 1, 0, -180deg) translate3d(0, 0, 20px);
	box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.3);
	border-radius: 3px 0 0 3px;
}

.bk-list li .bk-cover-back {
	background-color: #000;
	-webkit-transform: rotate3d(0, 1, 0, -179deg);
	transform: rotate3d(0, 1, 0, -179deg);
}

.bk-list li .bk-right {
	height: 650px;
	top: 5px;
	-webkit-transform: rotate3d(0, 1, 0, 90deg) translate3d(0, 0, 295px);
	-moz-transform: rotate3d(0, 1, 0, 90deg) translate3d(0, 0, 295px);
	transform: rotate3d(0, 1, 0, 90deg) translate3d(0, 0, 295px);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.bk-list li .bk-left {
	/* height: 400px; */
	height: 650px;
	-webkit-transform: rotate3d(0, 1, 0, -90deg);
	transform: rotate3d(0, 1, 0, -90deg);
}

.bk-list li .bk-top {
	-webkit-transform: rotate3d(1, 0, 0, 90deg);
	transform: rotate3d(1, 0, 0, 90deg);
}

.bk-list li .bk-bottom {
	-webkit-transform: rotate3d(1, 0, 0, -90deg) translate3d(0, 0, 390px);
	transform: rotate3d(1, 0, 0, -90deg) translate3d(0, 0, 390px);
}

/* Transform classes */

.bk-list li .bk-viewinside .bk-front {
	-webkit-transform: translate3d(0, 0, 20px) rotate3d(0, 1, 0, -160deg);
	transform: translate3d(0, 0, 20px) rotate3d(0, 1, 0, -160deg);
}

.bk-list li .bk-book.bk-viewinside {
	-webkit-transform: translate3d(0, 0, 150px) rotate3d(0, 1, 0, 0deg);
	transform: translate3d(0, 0, 150px) rotate3d(0, 1, 0, 0deg);
}

.bk-list li .bk-book.bk-viewback {
	-webkit-transform: translate3d(0, 0, 0px) rotate3d(0, 1, 0, 180deg);
	transform: translate3d(0, 0, 0px) rotate3d(0, 1, 0, 180deg);
}

/* Main colors and content */

.bk-list li .bk-page,
.bk-list li .bk-right,
.bk-list li .bk-top,
.bk-list li .bk-bottom {
	background-color: #fff;
}

.bk-list li .bk-front>div {
	border-radius: 0 3px 3px 0;
	box-shadow:
		inset 4px 0 10px rgba(0, 0, 0, 0.1);
}

.bk-list li .bk-front:after {
	content: '';
	position: absolute;
	top: 1px;
	bottom: 1px;
	left: -1px;
	width: 1px;
}

.bk-list li .bk-cover:after,
.bk-list li .bk-back:after {
	content: '';
	position: absolute;
	top: 0;
	left: 10px;
	bottom: 0;
	width: 3px;
	background: rgba(0, 0, 0, 0.06);
	box-shadow: 1px 0 3px rgba(255, 255, 255, 0.1);
}

.bk-list li .bk-back:after {
	left: auto;
	right: 10px;
}

.bk-left h2 {
	/* width: 400px; */
	width: 650px;
	height: 40px;
	-webkit-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	transform-origin: 0 0;
	-webkit-transform: rotate(90deg) translateY(-40px);
	transform: rotate(90deg) translateY(-40px);
}

.bk-content {
	position: absolute;
	top: 30px;
	left: 20px;
	bottom: 20px;
	right: 20px;
	overflow: hidden;
	background: #fff;
	opacity: 0;
	pointer-events: none;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: opacity 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out;
	cursor: default;
}

.bk-content-current {
	opacity: 1;
	pointer-events: auto;
}

.bk-content p {
	-webkit-font-smoothing: antialiased;
	color: #000;
	font-size: 13px;
	line-height: 20px;
	text-align: justify;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.bk-page nav {
	display: block;
	text-align: center;
	margin-top: 20px;
	position: relative;
	z-index: 100;
	cursor: pointer;
}

.bk-page nav span {
	display: inline-block;
	width: 20px;
	height: 20px;
	color: #aaa;
	background: #f0f0f0;
	border-radius: 50%;
}

/* Individual style & artwork */

/* Book 1 */
.book-1 .bk-front>div,
.book-1 .bk-back,
.book-1 .bk-left,
.book-1 .bk-front:after {
	background-color: rgb(250, 223, 153);
}

.book-1 .bk-cover {
	/* background-image: url(../images/1.png); */
	background-repeat: no-repeat;
	background-position: 10px 40px;
	box-shadow: 1px 1px 1px rgba(39, 26, 26, 0.795);
}

.book-1 .bk-cover h2 {
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	padding: 30px;
	background: rgba(255, 255, 255, 0.2);
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1);
}

.book-1 .bk-cover h2 span:first-child,
.book-1 .bk-left h2 span:first-child {
	font-family: "Binggrae-Bold", serif;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 20px;
}

/* 중앙 책 제목 */
.book-1 .bk-cover h2 span:first-child {
	font-size: 40px;
}

/* 왼쪽 책 제목 */
.book-1 .bk-left h2 span:first-child {
	font-size: 15px;
}

.book-1 .bk-cover h2 span:first-child {
	display: block;
}

.book-1 .bk-cover h2 span:last-child,
.book-1 .bk-left h2 span:last-child {
	font-family: "MapoFlowerIsland", serif;
}

/* 중앙 책 제목 상세 */
.book-1 .bk-cover h2 span:last-child {
	font-size: 25px;
}

/* 왼쪽 책 제목 상세 */
.book-1 .bk-left h2 span:last-child {
	font-size: 20px;
}

.book-1 .bk-content p {
	font-family: "Noto Sans KR", serif;
}

.book-1 .bk-left h2 {
	color: #fff;
	font-size: 15px;
	line-height: 40px;
	padding-right: 10px;
	text-align: right;
}

.book-1 .bk-back p {
	color: #fff;
	padding: 40px;
	text-align: center;
	font-weight: 700;
}

/* Fallbacks */

.no-csstransforms3d .bk-list li .bk-book>div,
.no-csstransforms3d .bk-list li .bk-book .bk-cover-back {
	display: none;
}

.no-csstransforms3d .bk-list li .bk-book>div.bk-front {
	display: block;
}

.no-csstransforms3d .bk-info button,
.no-js .bk-info button {
	display: none;
}

@media screen and (max-width: 500px) {
	.bk-list li .bk-page {
		width: 290px;
		height: 380px;
	}

	.bk-list li .bk-front,
	.bk-list li .bk-back,
	.bk-list li .bk-front>div {
		width: 300px;
		height: 400px;
	}

	.bk-list li .bk-left {
		height: 400px;
	}

	.bk-left h2 {
		width: 400px;
	}

	.bk-list li .bk-book {
		width: 0;
		height: 400px;
	}

	/* 중앙 책 제목 */
	.book-1 .bk-cover h2 span:first-child {
		font-size: 30px;
	}

	/* 왼쪽 책 제목 */
	.book-1 .bk-left h2 span:first-child {
		font-size: 20px;
	}

	.book-1 .bk-cover h2 span:first-child {
		display: block;
	}

	/* 중앙 책 제목 상세 */
	.book-1 .bk-cover h2 span:last-child {
		font-size: 15px;
	}

	/* 왼쪽 책 제목 상세 */
	.book-1 .bk-left h2 span:last-child {
		font-size: 10px;
	}
}